{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block spartners %}
<div id="c20"
  class="frame frame-default frame-type-image frame-layout-0 frame-background-none frame-no-backgroundimage frame-space-before-none frame-space-after-none">
  <div class="frame-container">
    <div class="frame-inner">
      <div class="gallery-row">
        <div class="gallery-item gallery-item-size-4">
          <figure class="image"><a href="https://anexia.com" target="_blank">
              <picture>
                <source data-variant="default" data-maxwidth="263" media="(min-width: 1200px)"
                  srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/8/9/csm_anexia_607859e049.png">
                <source data-variant="large" data-maxwidth="218" media="(min-width: 992px)"
                  srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/8/9/csm_anexia_8775e9e4fd.png">
                <source data-variant="medium" data-maxwidth="332" media="(min-width: 768px)"
                  srcset="https://osslinuxday.htl-villach.at/fileadmin/osslinuxday/2020/logos/anexia.png">
                <source data-variant="small" data-maxwidth="242" media="(min-width: 576px)"
                  srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/8/9/csm_anexia_95b3621345.png">
                <source data-variant="extrasmall" data-maxwidth="179"
                  srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/8/9/csm_anexia_64f3d8c3ec.png"><img
                  src="https://osslinuxday.htl-villach.at/fileadmin/_processed_/8/9/csm_anexia_607859e049.png" title=""
                  alt=""></picture>
            </a></figure>
        </div>
        <div class="gallery-item gallery-item-size-4">
          <figure class="image">
            <picture>
              <source data-variant="default" data-maxwidth="263" media="(min-width: 1200px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/0/d/csm_red-hat-social-share_0e49d6c4fc.jpg">
              <source data-variant="large" data-maxwidth="218" media="(min-width: 992px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/0/d/csm_red-hat-social-share_091c99a5be.jpg">
              <source data-variant="medium" data-maxwidth="332" media="(min-width: 768px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/0/d/csm_red-hat-social-share_119a8e1df0.jpg">
              <source data-variant="small" data-maxwidth="242" media="(min-width: 576px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/0/d/csm_red-hat-social-share_db45b243fb.jpg">
              <source data-variant="extrasmall" data-maxwidth="179"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/0/d/csm_red-hat-social-share_1902099c35.jpg">
              <img
                src="https://osslinuxday.htl-villach.at/fileadmin/_processed_/0/d/csm_red-hat-social-share_0e49d6c4fc.jpg"
                title="" alt=""></picture>
          </figure>
        </div>
        <div class="gallery-item gallery-item-size-4">
          <figure class="image">
            <picture>
              <source data-variant="default" data-maxwidth="263" media="(min-width: 1200px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/c/b/csm_STRABAGLOGO_rot_7a4706104f.jpg">
              <source data-variant="large" data-maxwidth="218" media="(min-width: 992px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/c/b/csm_STRABAGLOGO_rot_8bd0ac88b9.jpg">
              <source data-variant="medium" data-maxwidth="332" media="(min-width: 768px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/c/b/csm_STRABAGLOGO_rot_24bb62f9ea.jpg">
              <source data-variant="small" data-maxwidth="242" media="(min-width: 576px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/c/b/csm_STRABAGLOGO_rot_c63294f331.jpg">
              <source data-variant="extrasmall" data-maxwidth="179"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/c/b/csm_STRABAGLOGO_rot_04014e66a1.jpg">
              <img src="https://osslinuxday.htl-villach.at/fileadmin/_processed_/c/b/csm_STRABAGLOGO_rot_7a4706104f.jpg"
                title="" alt=""></picture>
          </figure>
        </div>
        <div class="gallery-item gallery-item-size-4">
          <figure class="image">
            <picture>
              <source data-variant="default" data-maxwidth="263" media="(min-width: 1200px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/8/7/csm_hqdefault_da22db267d.jpg">
              <source data-variant="large" data-maxwidth="218" media="(min-width: 992px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/8/7/csm_hqdefault_182e5253f0.jpg">
              <source data-variant="medium" data-maxwidth="332" media="(min-width: 768px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/8/7/csm_hqdefault_0386dc5419.jpg">
              <source data-variant="small" data-maxwidth="242" media="(min-width: 576px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/8/7/csm_hqdefault_8abb56c011.jpg">
              <source data-variant="extrasmall" data-maxwidth="179"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/8/7/csm_hqdefault_fb04f2ed1b.jpg"><img
                src="https://osslinuxday.htl-villach.at/fileadmin/_processed_/8/7/csm_hqdefault_da22db267d.jpg" title=""
                alt=""></picture>
          </figure>
        </div>
        <div class="gallery-item gallery-item-size-4">
          <figure class="image">
            <picture>
              <source data-variant="default" data-maxwidth="263" media="(min-width: 1200px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/c/9/csm_alturos-destinations-logo-2017_c2694ef669.png">
              <source data-variant="large" data-maxwidth="218" media="(min-width: 992px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/c/9/csm_alturos-destinations-logo-2017_dd4a792b32.png">
              <source data-variant="medium" data-maxwidth="332" media="(min-width: 768px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/c/9/csm_alturos-destinations-logo-2017_c0327b2a9a.png">
              <source data-variant="small" data-maxwidth="242" media="(min-width: 576px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/c/9/csm_alturos-destinations-logo-2017_f5c5d3811f.png">
              <source data-variant="extrasmall" data-maxwidth="179"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/c/9/csm_alturos-destinations-logo-2017_aeb63acb22.png">
              <img
                src="https://osslinuxday.htl-villach.at/fileadmin/_processed_/c/9/csm_alturos-destinations-logo-2017_c2694ef669.png"
                title="" alt="">
            </picture>
          </figure>
        </div>
        <div class="gallery-item gallery-item-size-4">
          <figure class="image">
            <picture>
              <source data-variant="default" data-maxwidth="263" media="(min-width: 1200px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/8/8/csm_LinmuxWochen_f9be30bbb6.png">
              <source data-variant="large" data-maxwidth="218" media="(min-width: 992px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/8/8/csm_LinmuxWochen_37ce03e9b7.png">
              <source data-variant="medium" data-maxwidth="332" media="(min-width: 768px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/8/8/csm_LinmuxWochen_d4af88f465.png">
              <source data-variant="small" data-maxwidth="242" media="(min-width: 576px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/8/8/csm_LinmuxWochen_5603124e19.png">
              <source data-variant="extrasmall" data-maxwidth="179"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/8/8/csm_LinmuxWochen_88ca66320b.png">
              <img src="https://osslinuxday.htl-villach.at/fileadmin/_processed_/8/8/csm_LinmuxWochen_f9be30bbb6.png"
                title="" alt=""></picture>
          </figure>
        </div>
        <div class="gallery-item gallery-item-size-4">
          <figure class="image">
            <picture>
              <source data-variant="default" data-maxwidth="263" media="(min-width: 1200px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/1/7/csm_OSEG-Logos-4501476_738c67d026.jpg">
              <source data-variant="large" data-maxwidth="218" media="(min-width: 992px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/1/7/csm_OSEG-Logos-4501476_346879ba1d.jpg">
              <source data-variant="medium" data-maxwidth="332" media="(min-width: 768px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/1/7/csm_OSEG-Logos-4501476_1734ed5347.jpg">
              <source data-variant="small" data-maxwidth="242" media="(min-width: 576px)"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/1/7/csm_OSEG-Logos-4501476_e971a5857d.jpg">
              <source data-variant="extrasmall" data-maxwidth="179"
                srcset="https://osslinuxday.htl-villach.at/fileadmin/_processed_/1/7/csm_OSEG-Logos-4501476_25eb477d0c.jpg">
              <img
                src="https://osslinuxday.htl-villach.at/fileadmin/_processed_/1/7/csm_OSEG-Logos-4501476_738c67d026.jpg"
                title="" alt=""></picture>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}