{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block fgeneric %}
<section class="section footer-section footer-section-content">
  <div class="container">
    <div class="section-row">
      <div class="section-column footer-section-content-column footer-section-content-column-left">
        <div id="c18"
          class="frame frame-default frame-type-text frame-layout-0 frame-background-none frame-no-backgroundimage frame-space-before-none frame-space-after-none">
          <div class="frame-container">
            <div class="frame-inner">
              <p>HTL Villach&nbsp;<br> Tschinowitscher Weg 5<br> 9500 Villach<br> Tel&nbsp;+43 4242 37061-0<br> Email:
                <a href="mailto:linuxtag@htl-villach.at">linuxtag@htl-villach.at</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="section-column footer-section-content-column footer-section-content-column-middle">
        <div id="c19"
          class="frame frame-default frame-type-menu_pages frame-layout-0 frame-background-none frame-no-backgroundimage frame-space-before-none frame-space-after-none">
          <div class="frame-container">
            <div class="frame-inner">
              <ul>
                <li><a href="/anmeldung" title="Call for Participation">Call for Participation</a></li>
                <li><a href="/programm" title="Programm">Programm</a></li>
                <li><a href="/standort" title="Standort">Standort</a></li>
                <li><a href="/system/impressum" title="Impressum">Impressum</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="section-column footer-section-content-column footer-section-content-column-right">
        <div id="c25"
          class="frame frame-default frame-type-text frame-layout-0 frame-background-none frame-no-backgroundimage frame-space-before-none frame-space-after-none">
          <div class="frame-container">
            <div class="frame-inner">
              <p>Open Source &amp; Linux Day 2020<br> 22.10.2020<br> 9-17&nbsp;Uhr<br> Tschinowitscher Weg 5</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}