{% block hnavtop %}
<header id="page-header" class="bp-page-header navbar navbar-mainnavigation navbar-default navbar-has-image navbar-top">
  <div class="container"><a class="navbar-brand navbar-brand-image" title="OSSLinuxDay"
      href="https://osslinuxday.htl-villach.at/"><img class="navbar-brand-logo-normal"
        src="https://osslinuxday.htl-villach.at/typo3conf/ext/osslinuxday/Resources/Public/Images/Linuxday.svg"
        alt="OSSLinuxDay" height="52" width="192"><img class="navbar-brand-logo-inverted"
        src="https://osslinuxday.htl-villach.at/typo3conf/ext/osslinuxday/Resources/Public/Images/logo-inverted.svg"
        alt="OSSLinuxDay" height="52" width="192"></a><button class="navbar-toggler collapsed" type="button"
      data-toggle="collapse" data-target="#mainnavigation" aria-expanded="false"
      aria-label="Navigation umschalten"><span class="navbar-toggler-icon"></span></button>
    <nav id="mainnavigation" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="https://osslinuxday.htl-villach.at/" id="nav-item-15" class="nav-link"
            title="Open Source and Linux Day"><span class="nav-link-text">Open Source and Linux Day</span></a></li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item"><a href="https://osslinuxday.htl-villach.at/anmeldung" id="nav-item-4" class="nav-link"
            title="Call for Participation"><span class="nav-link-text">Call for Participation</span></a></li>
        <li class="nav-item dropdown dropdown-hover"><a href="https://osslinuxday.htl-villach.at/programm"
            id="nav-item-5" class="nav-link dropdown-toggle" title="Programm" aria-haspopup="true"
            aria-expanded="false"><span class="nav-link-text">Programm</span></a>
          <ul class="dropdown-menu" aria-labelledby="nav-item-5">
            <li><a href="https://osslinuxday.htl-villach.at/programm/festsaal" class="dropdown-item"
                title="Festsaal"><span class="dropdown-text">Festsaal</span></a></li>
            <li><a href="https://osslinuxday.htl-villach.at/programm/oskar-dorner-saal" class="dropdown-item"
                title="Oskar Dorner Saal"><span class="dropdown-text">Oskar Dorner Saal</span></a></li>
            <li><a href="https://osslinuxday.htl-villach.at/programm/aula" class="dropdown-item" title="Aula"><span
                  class="dropdown-text">Aula</span></a></li>
          </ul>
        </li>
        <li class="nav-item"><a href="https://osslinuxday.htl-villach.at/standort" id="nav-item-6" class="nav-link"
            title="Standort"><span class="nav-link-text">Standort</span></a></li>
      </ul>
    </nav>
  </div>
</header>
{% endblock %}