{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block sboxes %}
<div class="section section-default">
  <div class="container">
    <div class="section-row">
      <div class="section-column section-column-third">
        <div id="c2"
          class="frame frame-default frame-type-text frame-layout-0 frame-background-dark frame-no-backgroundimage frame-space-before-none frame-space-after-none">
          <div class="frame-container">
            <div class="frame-inner">
              <header class="frame-header">
                <h1 class="element-header "><span>Open Source and Linuxday</span></h1>
              </header>
              <h2>abgesagt!</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="section-column section-column-third">
        <div id="c29"
          class="frame frame-default frame-type-text frame-layout-0 frame-background-primary frame-no-backgroundimage frame-space-before-none frame-space-after-none">
          <div class="frame-container">
            <div class="frame-inner">
              <header class="frame-header">
                <h2 class="element-header "><span>Termine</span></h2>
              </header>
              <p>15.01.2020: Start des CfP</p>
              <p>29.02.2020: Ende des CfP</p>
              <p>01.04.2020: Bekanntgabe des Programms</p>
            </div>
          </div>
        </div>
      </div>
      <div class="section-column section-column-third">
        <div id="c30"
          class="frame frame-default frame-type-text frame-layout-0 frame-background-dark frame-no-backgroundimage frame-space-before-none frame-space-after-none">
          <div class="frame-container">
            <div class="frame-inner">
              <header class="frame-header">
                <h2 class="element-header "><span>Highlights</span></h2>
              </header>
              <p>Vorträge und Workshops</p>
              <p>Siegerehrung der 1. Villacher Hacking-Challenge</p>
              <p>Networking Lounge - treffen Sie Ihre zukünftigen Mitarbeiter</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}